{% extends "base.html" %}

{% block content %}
    {% for category, dishes in menu.items() %}
        <div class="category">
            <h2 style="text-align:center;">{{ category }}</h2>
            <div class="grid">
                {% for dish in dishes %}
                    <div class="dish">
                        <img src="{{ url_for('static', filename='images/' ~ dish.image) }}" alt="{{ dish.name }}">
                        <h3>{{ dish.name }}</h3>
                        {% if not dish.available %}
                            <p class="out-of-stock">Out of Stock</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
